<p class="title">Title: <%= post.escape("title")%></p>
<br>
<p class="body">Body: <%= post.escape("body")%></p>
<br>
<a href="/#posts/<%= post.id%>/edit">Edit Post</a>
<br>
<a href="/#">back to index</a>